/* 박스 모델 크기 및 색깔 지정 */
.term {
  box-sizing: border-box;
  width: 15.625rem;
  height: 16.1875rem;
  padding: 1rem;
  border: 0.0625rem #A3A3A3 solid;
  border-radius: 0.3125rem;
  margin: 1rem;
  background-color: #CCCCCC;
}

/* 요소 크기 지정 */
.heading {
  margin-bottom: 1rem;
}

.onetermDl {
  margin: 0 0 0.75rem 0;
}

.twotermDl {
  margin: 0.75rem 0 0 0;
}

.onetermImg, .twotermImg {
  width: 3.75rem;
  height: 4.25rem;
  margin: 0;  /* dd margin 값 제거 */
}

.onetermDd, .twotermDd {  
  margin: 0;  /* dd margin 값 제거 */
  margin-top: 0.25rem;
}


/* 글씨 지정 */
.term {
  font-size: 0.78125rem;  /* 임의 지정 */
  line-height: 150%;
}

.heading {
  font-weight: bold;
  font-size: 0.9375rem;
}

.onetermDt, .twotermDt {
  color: #3A6793;
  font-weight: bold;
}


/* float 속성 적용 */
.onetermDl::after,
.twotermDl::after {
  content: '';
  display: block;
  clear: both;
}

.onetermImg {
  float: left;
  margin-right: 1rem;
  height: 5.5rem;
}

.twotermImg {
  float: right;
  margin-left: 1rem;
  height: 5.5rem;
}

.onetermDt {
  display: inline;
}

.twotermDt {
  float: left;
}

.twotermDd {
  clear: left;
}