.validation-icon {
  box-sizing: border-box;
  display: block;

  width: 250px;
  height: 37px;

  padding: 8px;
  padding-left: 16px;
  border-radius: 34px;
  margin: 8px;

  background: url(./imgages/validation_icon\ 2.png) no-repeat 16px 8px, #CCCCCC;
}

.validation__link {
  text-decoration: none;
  color: inherit;
}